<!DOCTYPE html>
<html >
<head>
    <title>Muxlab Control Tests</title>


    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

    <!-- Bootsrtap JS -->
    <script src="css/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js">


    <!-- JS files -->
    <script src="app.js"></script>
    <script src="js/bootstrapmodal.js"></script>

    <style>
        .red {
            height: 15px;
            width: 15px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
        }
        .green {
            height: 15px;
            width: 15px;
            background-color: green;
            border-radius: 50%;
            display: inline-block;
        }
        .glyphicon-refresh-animate {
            -animation: spin .7s infinite linear;
            -webkit-animation: spin2 .7s infinite linear;
        }

        @-webkit-keyframes spin2 {
            from { -webkit-transform: rotate(0deg);}
            to { -webkit-transform: rotate(360deg);}
        }

        @keyframes spin {
            from { transform: scale(1) rotate(0deg);}
            to { transform: scale(1) rotate(360deg);}
        }
    </style>
</head>

<body ng-app="uiBootstrap">
<div ng-controller="HomeCtrl as $ctrl">
    <pre>
        <h1>Virtual MNCs <button type="button" class="btn btn-primary" ng-click="$ctrl.openModal()">+ New</button></h1>
    </pre>

    <!--<div uib-alert>{{alert.msg}}</div>-->

    <!-- New Virtual Mnc Modal -->
    <script type="text/ng-template" id="newMnc.html">
        <div class="modal-header">
            <h3 class="modal-title">New MNC</h3>
        </div>

        <div class="modal-body">
            <label for="mncname">Name:</label>
            <input type="text" ng-model="mnc_name" id="mncname"><br>

            <!-- Dropdown -->
            <label>Version</label>
            <!-- Single button dropdown with keyboard nav -->
            <div class="btn-group" uib-dropdown keyboard-nav>
                <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" uib-dropdown-toggle>
                    {{ mnc_versionSelected }} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-repeat="mnc in mnc_versions track by $index">
                        <a href="#" ng-click="$ctrl.selectVersion(mnc)">{{ mnc }}</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="$ctrl.createVM()">Create</button>
            <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <!-- Delete MNC -->
    <script type="text/ng-template" id="deleteMNC.html">
        <div class="modal-header">
            <h3 class="modal-title">Delete MNC?</h3>
        </div>

        <div class="modal-footer">
            <button class="btn btn-danger" type="button" ng-click="$ctrl.confirmDelete()">Delete</button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

    <!-- Virtual MNC Table-->
    <table class="table table-hover">
        <tr>
            <th>Name</th>
            <th>IP Address</th>
            <th>Time Created</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        <tr ng-repeat="mnc in mncs" ng-class="{'warning' : mnc.system_initiated == 1}">
            <td>{{ mnc.name }}</td>
            <td>{{ mnc.ip_address }}</td>
            <td>{{ mnc.timestamp_created }}</td>
            <td>
                &nbsp;&nbsp;&nbsp;&nbsp;<span ng-class="{red:mnc.status == 'stopped', green:mnc.status == 'ready' || mnc.status == 'started',
                'glyphicon glyphicon-refresh glyphicon-refresh-animate':mnc.status == 'uninstantiated'}">
                </span>

            </td>
            <td>
                <button class="btn btn-default" ng-if="mnc.status == 'stopped'" ng-click="$ctrl.startMNC(mnc.id)">
                        <span class="glyphicon glyphicon-play"></span>
                </button>
                <button class="btn btn-default" ng-if="mnc.status == 'started' || mnc.status == 'ready'" ng-click="$ctrl.stopMNC(mnc.id)">
                        <span class="glyphicon glyphicon-stop"></span>
                </button>
                <button class="btn btn-default" ng-click="$ctrl.openMNC(mnc)">
                    <span class="glyphicon glyphicon-globe"></span>
                </button>
                <button class="btn btn-danger" ng-click="$ctrl.deleteMNC(mnc.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>

        </tr>
    </table>
</div>



</body>
</html>